# Q-1 WAP to handle missing values and Duplicate values.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("C:\\Users\\rcc\\Desktop\\train.csv")
data1=pd.read_csv("C:\\Users\\rcc\\Desktop\\train.csv")
data2=pd.read_csv("C:\\Users\\rcc\\Desktop\\train.csv")
data3=pd.read_csv("C:\\Users\\rcc\\Desktop\\train.csv")

In [3]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
data.shape

(891, 12)

In [5]:
df=data.dropna()
df.shape

(183, 12)

In [6]:
data['Age']= data['Age'].fillna(data['Age'].mean()) 
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
data1['Age']= data1['Age'].fillna(data1['Age'].median()) 
data1.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
data['Cabin'] = data['Cabin'].fillna(data['Cabin'].mode().iloc[0]) 
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       2
dtype: int64